#left-nav{
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
}

.navbar_title{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.navbar_title>img{
    width: 70%;
    padding: 10%;
    margin-left: -65px;
}

.navbar_title>span{
    color: white;
    margin-top: 10px;
    font-weight: bold;
    text-shadow: 10px 10px 10px #364041d5;
    font-size: 30px;
}

#nav_list{
    width: 200px;
    display: grid;
    background-color:white !important;
    box-shadow: 20px 20px 50px 15px #36404111; 
    color:black !important;
    margin-left: 10px;
    height: 500px ;
    border-radius: 30px;
    grid-template-rows: repeat(5, 50px);
}

.navItem{
    background: white;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 5px;
    display:flex;
    justify-content: center;
}

.navItem td,a{
    background: white !important;
    font-weight: bold;
}

.navItem:hover{
    opacity: 0.3;
    box-shadow: 0 0 5px gray;
}

.navItem a{
    text-decoration: none;
    text-transform: none;
    color:black !important;
}


@media (max-width: 800px) {
}